.dynamic-component {
    background-color: #FFCCCC;
    position: relative;
}

.dynamic-component.editable:hover {
    background-color: #FFFFCC;
}

.dynamic-component.editable.selected {
    background-color: #CCFFCC;
}

.dynamic-component.editable::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: none;
}